.my-cta {
  margin: 0;
  padding: 1em 2em;
  background-color: #a6192e;
  opacity: 1;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.my-cta:hover {
  background-color: #d4253d;
  color: white;
  font-weight: 700;
}
